<mat-card>
    <mat-card-header>
      <mat-card-title>About Anthony Casagrande</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Hi there 👋<br/>
        My name is Anthony Casagrande and I am a Staff Software Engineer 
        currently looking for opportunities to further the fields of 
        AI/ML and Computer Vision, IoT and Edge, and Cloud-Native infrastructure.
      </p>
      <p>
        I'm passionate about building the future of computer vision and AI, 
        one commit at a time.
      </p>
    </mat-card-content>
  </mat-card>
  